#navbck{
    background: rgb(15,32,39);
    background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 48%, rgba(44,83,96,1) 100%);
    border-bottom: solid gray 1px;
}
.nav-link{
  position: relative;
  padding:0px 15px 0px 15px;
  color:white;
}
.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #42f557;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-link:hover{
  color:#42f557;
}
.navbar{
  background-color: #2e9e73;
 
}
.navbar-nav{
    font-family: 'Josefin Sans' , sans-serif;
    font-size: 18px;
}
body{
    background:#0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

}
#logo-p{
    text-align: center;
}
#logo-img{
    height: 300px;
    width: 300px;
}
h1{
    text-align: center;
}
#i-h1{
  color:#42f557;
}
#definicija{
    color: white;
    font-size: 14pt;
    text-align: center;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.rotate{
    animation: rotation 35s infinite linear;

}
@keyframes rotation{
  0% {transform: rotate(0deg);}
  25%{transform: rotate(45deg);}
  50%{transform: rotate(0deg);}
  75%{transform: rotate(-45deg);}
  100%{transform: rotate(0deg);}
  }

.ol-timeline {
    margin: 0;
    list-style: none;
    padding: 0;
    --hue: 1;
    --unit: 1rem;
  }
.p-historyy{
    line-height: 1.3;
  }
.event-date {
    margin: 0 0 0.25rem;
    font-weight: bold;
  }
.event-description {
    margin: 0;
  }
.li-timeline {
    --height: 7rem;
    position: relative;
    display: block;
    background-color: hsl(calc(var(--hue)*360/20),90%,65%);
    border-color: hsl(calc(var(--hue)*360/20),90%,65%);
    padding: 1rem;
    margin: 2rem 0;
  }
  .li-timeline::before {
    content: "";
    background-color: inherit;
    position: absolute;
    display: block;
    width: var(--unit);
    height: var(--unit);
    top: 100%;
    left: calc(50% - (var(--unit)/2));
  }
  .li-timeline::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(100% + var(--unit));
    left: calc(50% - (var(--unit)));
    border: var(--unit) solid transparent;
    border-top-color: inherit;
  }
  .li-timeline:last-child::before,
  .li-timeline:last-child::after {
    content: none;
  }
  .li-timeline:nth-child(20n+1){
    --hue: 1;
  }
  .li-timeline:nth-child(20n+2){
    --hue: 2;
  }
  .li-timeline:nth-child(20n+3){
    --hue: 3;
  }
  .li-timeline:nth-child(20n+4){
    --hue: 4;
  }
.li-timeline:nth-child(20n+5){
    --hue: 5;
  }
  .li-timeline:nth-child(20n+6){
    --hue: 6;
  }
  .li-timeline:nth-child(20n+7){
    --hue: 7;
  }
  .li-timeline:nth-child(20n+8){
    --hue: 8;
  }
  .li-timeline:nth-child(20n+9){
    --hue: 9;
  }
  .li-timeline:nth-child(20n+10){
    --hue: 10;
  }
  .li-timeline:nth-child(20n+11){
    --hue: 11;
  }
  .li-timeline:nth-child(20n+12){
    --hue: 12;
  }
  .li-timeline:nth-child(20n+13){
    --hue: 13;
  }
  .li-timeline:nth-child(20n+14){
    --hue: 14;
  }
  .li-timeline:nth-child(20n+15){
    --hue: 15;
  }
  .li-timeline:nth-child(20n+16){
    --hue: 16;
  }
  .li-timeline:nth-child(20n+17){
    --hue: 17;
  }
  .li-timeline:nth-child(20n+18){
    --hue: 18;
  }
  .li-timeline:nth-child(20n+19){
    --hue: 19;
  }
  .li-timeline:nth-child(20n+20){
    --hue: 20;
  }
  @media (min-width: 550px) and (max-width: 899px){
    .li-timeline {
      margin: 1rem;
      width: calc(50% - 4rem);
      float: left;
      min-height: var(--height);
    }
    .li-timeline:nth-child(4n+3),
    .li-timeline:nth-child(4n+4) {
      float: right;
    }
    .li-timeline:nth-child(4n+1)::before {
      top: calc(var(--height)/2 + var(--unit)/2);
      left: 100%;
    }
    .li-timeline:nth-child(4n+1)::after {
      top: calc(var(--height)/2);
      left: calc(100% + (var(--unit)));
      border: var(--unit) solid transparent;
      border-left-color: inherit;
    }
    .li-timeline:nth-child(4n+3)::before {
      top: calc(var(--height)/2 + var(--unit)/2);
      left: -1rem;
    }
    .li-timeline:nth-child(4n+3)::after {
      top: calc(var(--height)/2);
      left: -3rem;
      border: var(--unit) solid transparent;
      border-right-color: inherit;
    }
  }
  @media (min-width: 900px) and (max-width: 1199px){
    .li-timeline {
      margin: 1rem;
      width: calc(33.33% - 4rem);
      float: left;
      min-height: 7rem;
    }
    .li-timeline:nth-child(6n+4),
    .li-timeline:nth-child(6n+5),
    .li-timeline:nth-child(6n+6) {
      float: right;
    }
    .li-timeline:nth-child(6n+1)::before,
    .li-timeline:nth-child(6n+2)::before {
      top: calc(var(--height)/2 + var(--unit)/2);
      left: 100%;
    }
    .li-timeline:nth-child(6n+1)::after,
    .li-timeline:nth-child(6n+2)::after {
      top: 3.5rem;
      left: calc(100% + (var(--unit)));
      border: var(--unit) solid transparent;
      border-left-color: inherit;
    }
    .li-timeline:nth-child(6n+4)::before,
    .li-timeline:nth-child(6n+5)::before{
      top: calc(var(--height)/2 + var(--unit)/2);
      left: -1rem;
    }
    .li-timelinei:nth-child(6n+4)::after,
    .li-timeline:nth-child(6n+5)::after{
      top: calc(var(--height)/2);
      left: -3rem;
      border: var(--unit) solid transparent;
      border-right-color: inherit;
    }
  }
  @media (min-width: 1200px){
    .ol-timeline {
      max-width: 1600px;
      margin: 0 auto;
    }
    .li-timeline {
      margin: 1rem;
      width: calc(25% - 4rem);
      float: left;
      min-height: 7rem;
    }
    .li-timeline:nth-child(8n+5),
    .li-timeline:nth-child(8n+6),
    .li-timeline:nth-child(8n+7),
    .li-timeline:nth-child(8n+8){
      float: right;
    }
    .li-timeline:nth-child(8n+1)::before,
    .li-timeline:nth-child(8n+2)::before,
    .li-timeline:nth-child(8n+3)::before{
      top: calc(var(--height)/2 + var(--unit)/2);
      left: 100%;
    }
    .li-timeline:nth-child(8n+1)::after,
    .li-timeline:nth-child(8n+2)::after,
    .li-timeline:nth-child(8n+3)::after{
      top: calc(var(--height)/2);
      left: calc(100% + (var(--unit)));
      border: var(--unit) solid transparent;
      border-left-color: inherit;
    }
    .li-timeline:nth-child(8n+5)::before,
    .li-timeline:nth-child(8n+6)::before,
    .li-timeline:nth-child(8n+7)::before {
      top: calc(var(--height)/2 + var(--unit)/2);
      left: -1rem;
    }
    .li-timeline:nth-child(8n+5)::after,
    .li-timeline:nth-child(8n+6)::after,
    .li-timeline:nth-child(8n+7)::after {
      top: calc(var(--height)/2);
      left: -3rem;
      border: var(--unit) solid transparent;
      border-right-color: inherit;
    }
  }
 

 .item, .slika-praksa{
     height: 100% !important;
     width:  100% !important;
 }
 .praksa-h4{
  background-color:rgba(32, 58, 67, 0.7);
  color: white;
 }
 .jumbotron{
   background-color: rgba(0, 0, 0, 0.7);
   color:white;
 }
 .btn{
   background-color: #2C5364;
   color:white;
 }
 .btn:visited{
  background-color: #2C5364;
 }
 .btn:active{
  background-color: #2C5364;
 }
 .btn:hover{
   color:white;
   background-color:#203A43;
 }
 .btn:focus,.btn:active:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.adventage-table{
  color:white;
  background-image: linear-gradient(#1871c4,#1c5c2d );
  font-family: 'Titillium Web', sans-serif;
  font-size: 14pt;
  margin-left: auto;
  margin-right: auto;
}
.adventage-table th{
  text-align: center;
}
.adventage-table th, td{
  border: 1px solid #2da883;
  
  padding: 5px 10px 5px 10px;
  width: 50%;
}
iframe{
  border-radius: 5%;
}
.about{
  width: 100%;
  border-bottom: 1px solid white;
}
.left{
  width: 50%;
  height: 100%;
  float:left;
}
.right{
  width: 50%;
  height: 100%;
  float: left;
}
.main{
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  padding: 20px 0 20px 0;
}
.main p{
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}
.main a{
  color:white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}
.main a:hover{
  text-decoration: none;
  text-shadow: black 2px 5px;
  color:white
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 158, 32, 0.3);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}