#navbck{
    background: rgb(15,32,39);
    background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 48%, rgba(44,83,96,1) 100%);
    border-bottom: solid gray 1px;
}
.nav-link:hover{
    color:#197358;
}
.nav-link{
    color:#2da883;
}
.nav{
    font-family: 'Josefin Sans' , sans-serif;
    font-size: 25px;
}
body{
    background:#0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

}
#logo-p{
    text-align: center;
}
#logo-img{
    height: 300px;
    width: 300px;
}
h1{
    text-align: center;
}
#definicija{
    color: white;
    font-size: 14pt;
    text-align: center;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.rotate{
    animation: rotation 35s infinite linear;

}
@keyframes rotation{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#img-history{
    margin: 50px 0px 0px 50px;
    height: 200px;
    width: 200px;
}
.p-history{
    font-family: 'Josefin Sans', sans-serif;
    border-top: 2px dashed;
    border-color: blue !important;
    margin:0; padding: 30px;
}
